<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="E_Bank_Autoproject">

<listeners>
	<listener class-name="com.E_Bank_AutoProject.utilities.Reporting"/>
</listeners>

  <test name="E_Bank_Autoproject Test">
  <parameter name="browser" value="chrome"></parameter>
  	<classes>
      <!--<class name="com.E_Bank_AutoProject.testcases.TC_logintest_001"/>-->
      <!-- <class name="com.E_Bank_AutoProject.testcases.TC_billpayment_002"/>-->
      <class name="com.E_Bank_AutoProject.testcases.TC_custCare_003"/>
      <!--<class name="com.E_Bank_AutoProject.testcases.TC_fundstransfer_004"/>-->
      <!--<class name="com.E_Bank_AutoProject.testcases.TC_requestloan_005"/>-->
      <!--<class name="com.E_Bank_AutoProject.testcases.TC_logout_006"/>-->
    </classes>
  </test> <!-- E_Bank_Autoproject Test -->
</suite> <!-- E_Bank_Autoproject -->
